<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/CSS/Style.css">
    <title>TODO list</title>
</head>

<body class="bg">
    <form method="post" action="/newList">
        <div class="container pt-5 d-flex justify-content-center">
                <input type="text" name="new_list" autocomplete="off" placeholder="Enter List Name" class="form-control w-50 border-0 outline-none shadow-sm">
          </div>  
          <div class="container pt-2 d-flex justify-content-center">
                <button type="submit" class="btn color-purple text-light mx-2">Create List</button>
                <button type="submit" class="btn color-purple text-light">Goto</button>
            </div>
        
    </form>